@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    --main-color: #4D4F62;
    --left-border: #44D3D2;
    --top-border: #EA5454;
    --bottom-border: #FCAE4A;
    --right-border: #549EF2;
    --card-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.05);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
    color: var(--main-color);;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 0px 20px;
}
  
.center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
  
.top, .bottom {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
}
  
.left, .right {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
}

.header {
    width: 540px;
    height: 168px;
    margin: 1.25rem auto 1.25rem auto;
    text-align: center;
}

.first-heading {
    font-weight: 300;
    opacity: 0.5;
}

.second-heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.800rem;
}

.first-paragraph {
    font-size: 0.938rem;
    opacity: 0.5;
}

.heading {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.500rem;
}

.body {
    font-size: 0.900rem;
    font-weight: 500;
    opacity: 0.5;
}

img.icon {
    width: 22%;
    margin-left: auto;
    margin-top: 1rem;
}

.left,.right,.top,.bottom {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    width: 250px;
    height: auto;
    padding: 1.25rem;
}

.left {
    border-top: 4px solid var(--left-border);
}

.right {
    border-top: 4px solid var(--right-border);
}

.top {
    border-top: 4px solid var(--top-border);
}

.bottom {
    border-top: 4px solid var(--bottom-border);
}

@media only screen and (max-width: 600px) {
    div.header {
        width: 311px;
        height: 161px;
        margin: 2rem 0rem 0rem 0rem;
    }
    .first-heading,.second-heading {
        font-size: 1.5rem;
    }
    div.grid-container {  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        gap: 20px 0px;
        grid-auto-flow: row;
        justify-content: center; 
        align-content: stretch; 
        justify-items: center;
        grid-template-areas:
          "left"
          "center"
          "right";
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .left {
        align-self: end;
        grid-area: left; 
    }
    .center { 
        grid-area: center; 
    }
    .right { 
        align-self: start;
        grid-area: right; 
    }
    footer {
        display: none;
    }
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

footer {
    font-weight: 500;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 20px;
    color: rgb(46, 45, 45);
}